.products{
  width: 80%;
  margin: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.product{
  border: 1px solid orangered;
  border-radius: 5px;
  padding: 10px;
}
.product h1,h2,p{
  margin: 0px 5px;
}
button{
  padding: 8px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}
form{
  max-width:550px;
  margin:30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
form input{
  padding: 10px;

}

small{
  cursor: pointer;
  color: blue;
}
small:hover{

  text-decoration-style: solid;
  text-decoration-color: blue;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;

}


